/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-buytiti-buytitiwoocommerce {
	border: 1px dotted #f00;
}

.discount-box{
	position: absolute;
	top: 24px;
	right: 0;
	background-color: white;
	color: orange;
	padding: 1px;
	font-size: 12px;
	border: red 1px solid;
	width: 2.3rem;
	text-align: center;
  }

  .number-input{
	width: 2.5rem;
	margin-right: .5rem;
	border: #FF7942 solid 1px;
	border-radius: 0px 5px;
  }

  .stock-info{
	display: flex;
	right: 0;
	position: absolute;
	bottom: 0;
  }