/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-buytiti-buytitiwoocommerce {
	color: #21759b;
	padding: 1px;
}
.product-item {
	display: flex;
	flex-direction: column;
	width: 16rem;
  margin-bottom: 1.5rem;
  height: 28rem !important; /* Establece la altura fija deseada */
  margin-right: .5rem;
}

.container-price{
	display: flex;
}

.regular-price{
	margin-right: 1rem;
}

.sale-price{
	color: red;
	font-weight: bold;
}

.price{
  color: #FF7942;
  font-weight: bold;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 10px;
	width: 100%; 
  margin-top: 3rem;
}

.image-container{
	position: relative;
	width: 16rem;
    height: 18rem;
    background-color: white;
    border: #E4E4E4.5px solid;
    border-radius: 10px;
}

.image-container:hover{
	cursor: pointer;
}

.img-size{
	width: 11rem;
  margin-top: 3rem;
	padding: .5rem;
  margin-left: 1.5rem;
}

.name-buytiti{
  color: #585858;
  font-size: .8rem;
  text-align: left;
  padding-right: .5rem;
  max-height: 3.2rem; /* Establece la altura máxima deseada */
  overflow: hidden;
}

.sku{
	color: black;
  font-size: .8rem;
}

.regular-price{
	color: #767676;
	font-size: .9rem;
}

.offer-box{
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 2px;
  font-size: 12px;
  border-radius: 0px 5px;
}

.discount-box{
  position: absolute;
  top: 28px;
  right: 0;
  background-color: white;
  color: #FF7942;
  padding: 1px;
  font-size: 12px;
  border: #FF7942 1px solid;
  width: 2.5rem;
  text-align: center;
  border-radius: 0px 0px 0px 7px;
}

.btn-addtocart:hover,
.btn-addtocart:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.btn-addtocart {
  border: none;
  background-color: #FF7942 ;
  --color: #ef6eae;
  --hover: #ef8f6e;
  height: 2rem;
  text-align: center;
  justify-content: center;
  display: flex;
  color: white;
  font-weight: bold;
  padding-top: 6px;
  width: 13rem;
  border-radius: 10px 0px;
}

.btn-addtocart:hover{
  cursor: pointer;
  background-color: #FF7942 ;
}

.quantity-input-container{
  display: flex;
}

.number-input{
  width: 4rem !important;
  padding: 10px !important;
  margin-right: .5rem;
  border: #FF7942 solid 1px !important;
  height: 2rem !important;
  border-radius: 0px 5px !important;
}

.stock-alert{
  color: white;
  font-size: .8rem;
  border: solid #FF7942 1px;
  width: 7.1rem;
  text-align: center;
  border-radius: 5px 0px;
  background-color: #F58352;
  font-weight: normal;
}

.new-label{
  background-color: #F2FFF6;
  border: 1px solid #058427;
  color: #058427;
  font-size: .8rem;
  width: 3rem;
  text-align: center;
  border-radius: 5px 0px;
}

.attribute-category{
  text-transform: uppercase;
  font-weight: 600;
  color: black;
  font-size: .9rem;
  text-align: start;
  letter-spacing: .3px;
}

.categoria{
  color: #4A4A4A;
  opacity: .8;
}

.stock-info{
  display: flex;
  right: 0;
  position: absolute;
  bottom: 0;
  border: solid 1px #FF7942;
  color: coral;
  background-color: #FDE5CB;
  font-weight: bold;
  border-radius: 10px 0px;
  padding: 0px 3px 0px 3px;
  font-size: .75rem;
}